apiVersion: prefect.io/v1
kind: PrefectWorkPool
metadata:
  labels:
    app.kubernetes.io/name: prefect-operator
    app.kubernetes.io/managed-by: kustomize
  name: sample-k8s-pool
spec:
  deploymentLabels:
    deployment: label
  type: kubernetes
  server:
    name: prefect-ephemeral
  workers: 3
  # serviceAccountName: prefect-worker  # Optional: custom ServiceAccount for worker pods
